BODY {
  margin:0;
  background : transparent url("../images/transparecy pics/akuma.gif") fixed no-repeat center center;
  background-size: 60% auto;
  color : rgb(114, 118, 129);
  font-family : verdana;
  font-size : 12px;
  line-height: 1;
  font: 13px/20px "OpenSansRegular", Tahoma, sans-serif;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
 
  }


a{
  color : #3028d9;
  background : transparent none; 
}

a:hover{
  color : #CC3333;
  background : transparent none; 
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: "FrancoisOneRegular", "OpenSansRegular", Tahoma, sans-serif;
	line-height: 1.6em;
}
h1, h2 { margin-bottom: 12px; }
h3, h4, h5, h6 { margin-bottom: 6px; }
h1 { font-size: 30px; }
h1#firstHeading, h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5, h6 { font-size: 16px; }


.p404 h1 {
	line-height: 65px;
	font-size: 62px;
	text-shadow: 2px 2px #ed1c24;
}
img {
  border: 0;
}

/* Text */
p { margin: 12px 0; }
em { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 80%; }
hr { border: none; }
em { font-style: italic; }
pre { text-shadow: none; }

/* Links */
a {
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}


div.welcome{
  background : Black none;
  color : White;
  font-weight : 700;
  font-size : 0.9em;
  margin  : 0em;
  padding : 0.2em;
  text-align : center;
}
div.maincontainer{
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  line-height: 120%;
  max-width: 90%;
  width: 90%;
  margin: 0 auto;

}

div.sidebar{
  margin : 0;
  height : auto;
  text-align : center;
  float: right;
  width: 10%;
  margin-right: 8%;
}

div.sidebar a {
	margin: 0 0 18px 0;
	clear: both;
	overflow: hidden;
}

div.maincontent{
  float : left;
  width : 80%;
  margin-top : 0.5em;
}

div.maincontent h1, h2, h3, h4, h5 {
color: #A0522D;
text-shadow: 0 1px 0 #000;
}


div.menu{
  border : none;
  background : transparent none;
  color : Black;
  margin-right : 0.3em;
  margin-bottom : 0.4em;
}

div.menuelement{
  border-bottom: none;
  color : Black;
  font: 20px "OpenSansBold",Tahoma,sans-serif;
  color: #A0522D;
  text-shadow: 0 1px 0 #000;
  line-height: 1.6em;
  font-weight: bold; 
}

div.menuelement a{
  display : block;
  background : transparent none;
  text-decoration: none;
  font: 13px/20px "OpenSansRegular",Tahoma,sans-serif;
  text-align: left;
  padding-left: 18px;
  list-style: none;
  line-height: 18px;
  position: relative;
  left: 10px;
  margin-bottom: 6px;
  text-shadow: none;

}

div.about{
  border : thin solid White;
  background : White none;
  color : Black;
  padding : 0.2em;
  margin-bottom : 0.4em;
}

div.newshead{
  border : none;
  background : #f4f5f8 none;
  color : black;
  padding : 0.1em;
  padding-left : 1em;
  border-bottom: 1px solid #aaa;
  font-size: 20px;
  font-family: "FrancoisOneRegular","OpenSansRegular",Tahoma,sans-serif;
  line-height: 1.6em;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  direction: ltr;
  font-kerning: auto;
  font-weight: 400;
  line-height: 38.4px;
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none;
  text-decoration-style: solid;
  vertical-align: baseline;
}

div.newscontent{
  padding : 0.1em 0.4em;
  border-bottom : 1px solid #f4f5f8; 
  background : White none;
  color : Black;
  text-align : justify;
}

div.newsfooter{
  font-size : 0.8em;
  border : none;
  color : black;
  padding : 0.1em;
  padding-left : 1em;
  text-align : right;
  margin-bottom : 1em;
}

div.features{
  padding : 0.4em 0.2em;
  border : thin solid White;
  border-top : 2px solid black;
  border-bottom : 2px solid black;
  margin-bottom : 0.2em;
  color : Black;
  text-align : justify;
  font-size : 1em;
}

div.adminmenu{
  background: white;
  padding : 0.4em 0.2em;
  border : thin solid White;
  margin-bottom : 1em;
  color : Black;
  text-align : justify;
  font-size : 1em;
}
div.fenix-content {
    padding: 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    line-height: 120%;
    overflow: auto;

  opacity: 0.6;
}

div.branding{
	min-height:100px;
        min-width:980px;
        padding:0 10px;
        
}
div.code {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(204, 204, 204);
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px 3px 3px 3px;
    font-size: 11px;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    margin: 0px 2px;

}

div.logo {
  vertical-align: middle;
  border: 0px none;
  margin: 0px;
  padding: 0px;
}

div.header_bar {
    border-radius: 0px 0px 4px 4px;
    background: url("http://www.quickplayfrontend.com/public/style_images/fenix/opacity.png") repeat scroll 0% 0% transparent;
    padding: 0px;
    min-width: 980px;
    margin: 0px;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) */

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-regular.eot');
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-regular.woff') format('woff'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-regular.ttf') format('truetype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-regular.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiboldRegular';
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-semibold.eot');
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-semibold.woff') format('woff'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-semibold.ttf') format('truetype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-semibold.svg#OpenSansSemiboldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-bold.eot');
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-bold.woff') format('woff'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-bold.ttf') format('truetype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-bold.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-italic.eot');
	src: url('../wiki/skins/Gamepress/resources/fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-italic.woff') format('woff'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-italic.ttf') format('truetype'),
		 url('../wiki/skins/Gamepress/resources/fonts/opensans-italic.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FrancoisOneRegular';
	src: url('../wiki/skins/Gamepress/resources/fonts/francoisone.eot');
	src: url('../wiki/skins/Gamepress/resources/fonts/francoisone.eot?#iefix') format('embedded-opentype'),
		 url('../wiki/skins/Gamepress/resources/fonts/francoisone.woff') format('woff'),
		 url('../wiki/skins/Gamepress/resources/fonts/francoisone.ttf') format('truetype'),
		 url('../wiki/skins/Gamepress/resources/fonts/francoisone.svg#FrancoisOneRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


  

