BODY {
  margin:0;
  background : transparent url(../images/nexusBackgroundOrig.jpg) no-repeat fixed 100% 0px;
  background-size: cover;
  color : rgb(114, 118, 129);
  font-family : verdana;
  font-size : 12px;
	line-height: 1;
	font: 13px/20px "OpenSansRegular", Tahoma, sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
  }


a{
  color : #3028d9;
  background : transparent none; 
}

a:hover{
  color : #CC3333;
  background : transparent none; 
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: "FrancoisOneRegular", "OpenSansRegular", Tahoma, sans-serif;
	line-height: 1.6em;
}
h1, h2 { margin-bottom: 12px; }
h3, h4, h5, h6 { margin-bottom: 6px; }
h1 { font-size: 30px; }
h1#firstHeading, h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5, h6 { font-size: 16px; }

h1 a:hover, h2 a:hover {
	border: none !important;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	clear: both;
}


.p404 h1 {
	line-height: 65px;
	font-size: 62px;
	text-shadow: 2px 2px #ed1c24;
}
img {
  border: 0;
}

/* Text */
p { margin: 12px 0; }
em { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 80%; }
hr { border: none; }
em { font-style: italic; }
pre { text-shadow: none; }

/* Links */
a {
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}


div.welcome{
  background : Black none;
  color : White;
  font-weight : 700;
  font-size : 0.9em;
  margin  : 0em;
  padding : 0.2em;
  text-align : center;
}
div.maincontainer{
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  line-height: 120%;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 90%;
  margin: 0 auto;

}

div.sidebar{
  float : left;
  width : 20%;
  margin : 0;
  margin-top : 0.5em;
  padding : 0;
  height : auto;
  text-align : center;
}

div.maincontent{
  float : left;
  width : 80%;
  margin-top : 0.5em;
}

div.menu{
  border : 0.2em ridge grey;
  background : transparent none;
  color : Black;
  margin-right : 0.3em;
  margin-bottom : 0.4em;
}

div.menuelement{
  border-bottom: thin ridge Black;
  background : #f4f5f8 none;
  color : Black;
}

div.menuelement a{
  display : block;
  margin: 0;
  padding: 2px;
  background : transparent none;
}

div.about{
  border : thin solid White;
  background : White none;
  color : Black;
  padding : 0.2em;
  margin-bottom : 0.4em;
}

div.newshead{
  border : none;
  border-top : 2px solid Black;
  border-left : 2px solid Black;
  background : #f4f5f8 none;
  color : black;
  padding : 0.1em;
  padding-left : 1em;
}

div.newscontent{
  padding : 0.1em 0.4em;
  border-left : 2px solid black;
  border-bottom : 1px solid #f4f5f8; 
  background : White none;
  color : Black;
  text-align : justify;
}

div.newsfooter{
  font-size : 0.8em;
  border : none;
  border-left : 2px solid black;
  border-bottom : 1px solid black;
  background : #f4f5f8 none;
  color : black;
  padding : 0.1em;
  padding-left : 1em;
  text-align : right;
  margin-bottom : 1em;
}

div.features{
  padding : 0.4em 0.2em;
  border : thin solid White;
  border-top : 2px solid black;
  border-bottom : 2px solid black;
  margin-bottom : 0.2em;
  color : Black;
  text-align : justify;
  font-size : 1em;
}

div.adminmenu{
  padding : 0.4em 0.2em;
  border : thin solid White;
  border-top : 2px solid black;
  border-bottom : 2px solid black;
  margin-bottom : 1em;
  color : Black;
  text-align : justify;
  font-size : 1em;
}
div.fenix-content {
    padding: 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    line-height: 120%;
    overflow: auto;

}

div.branding{
	min-height:100px;
        min-width:980px;
        padding:0 10px;
        
}
div.code {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(204, 204, 204);
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px 3px 3px 3px;
    font-size: 11px;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    margin: 0px 2px;

}

div.logo {
  vertical-align: middle;
  border: 0px none;
  margin: 0px;
  padding: 0px;
}

div.header_bar {
    border-radius: 0px 0px 4px 4px;
    background: url("http://www.quickplayfrontend.com/public/style_images/fenix/opacity.png") repeat scroll 0% 0% transparent;
    padding: 0px;
    min-width: 980px;
    margin: 0px;
}


  

